
@{
    ViewBag.Title = "Application";
}

<h2>Application Status</h2>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="~/Scripts/ApplicationScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCall.js"></script>
    <link rel="stylesheet" href="~/CSS/StyleSheet.css" />
    <link rel="stylesheet" href="~/CSS/ResultStylesheet.css" />

    <title>Register</title>
</head>

<div class="PageContainer">
    <h2 class="PageTitle">Login</h2>
    <div class="formContainer">
        <p>Hello World</p>
    </div>
    <a href="/Logout/Index">Log out</a>
</div>
