<html>
    <head>
        <script type="text/javascript" src="~/Scripts/ResultScript.js"></script>
        <script type="text/javascript" src="~/Scripts/ServerCall.js"></script>
        <link rel="stylesheet" href="~/CSS/MainStyleSheet.css" />
        <link rel="stylesheet" href="~/CSS/ResultStylesheet.css" />
        <link rel="stylesheet" href="~/CSS/LogoutButtonStyleSheet.css" />
        <script>
            Details();
        </script>
        <title>University Application - Results</title>
    </head>
    <body>
        <div class="PageContainer">
            <h2 class="PageTitle">Student Results</h2>
            <span role="alert" id="errorPane" aria-hidden="true" style="color:red"></span>
            <form method="POST" class="formContainer" id="form" onsubmit="Results(event)">
                <div>
                    <button type="button" onclick="Add()">Add a Subject</button>
                    <button type="button" onclick="Remove()">Remove a Subject</button>
                </div>
                <table class="tableContainer" border="1">
                    <thead>
                        <tr>
                            <th>Blank</th>
                            <th>Subject</th>
                            <th>Result for that subject</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>
                <input class="submitInput" type="submit" value="Submit Results" id="buttonRegister" />
            </form>
            <center><button type="button" onclick="location.href='/Logout/Index';" class="logoutButton">Log out</button></center>
        </div>
        <script>
            Details();
        </script>
    </body>
</html>

