
@{
    ViewBag.Title = "Results";
}

<h2>Student Results</h2>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="~/Scripts/NewResultScript.js"></script>
    <script type="text/javascript" src="~/Scripts/ServerCall.js"></script>
    <link rel="stylesheet" href="~/CSS/StyleSheet.css" />
    <link rel="stylesheet" href="~/CSS/ResultStylesheet.css" />

    <script>
        Details();
    </script>

    <title>Register</title>
</head>

<body onload="Details(Event)">
    <div class="PageContainer">
        <h2 class="PageTitle">Student Details</h2>
        <form method="POST" class="formContainer" id="form" onsubmit="Results(event)">
            <div>
                <button type="button" onclick="Add()">Add a Subject</button>
                <button type="button" onclick="Remove()">Remove a Subject</button>
            </div>
            <table class="tableContainer" border="1">
                <thead>
                    <tr>
                        <th>Blank</th>
                        <th>Subject</th>
                        <th>Result for that subject</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
            <input class="submitInput" type="submit" value="Submit Results" id="buttonRegister" />
        </form>
    </div>
</body>

